@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-dark: var(--color-gray-950);
  --color-light: var(--color-gray-50);
  --color-primary: var(--color-blue-600);
  --color-danger: var(--color-red-500);
}

@theme {
  --inset-shadow: inset 0 1px 2px 0 oklch(1 0 0 / 0.15);
}
